/src/vendor
/src/.phpunit.result.cache
/src/.phpunit.cache
/src/var/.composer
/src/.scribe
/docs/openapi/status-monitoring.internal.meetsoci.com/css
/docs/openapi/status-monitoring.internal.meetsoci.com/images
/docs/openapi/status-monitoring.internal.meetsoci.com/js
/docs/openapi/status-monitoring.internal.meetsoci.com/index.html

.idea/
.vscode/
src/coverage-report
.config
